<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <%= headTags %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
  </head>

  <body>
    <canvas id="root" style="width: 100%; height: 100%;"></canvas>
    <!-- Instead ../public/images/example.png -->
    <!-- Вместо ../public/images/example.png -->
    <!-- <img src="./assets/images/example.png" /> -->
    <script>
      window.__meta_sw_path = '<%= swSourceFilepath %>';
      window.__meta_main_path = '<%= mainSourceFilepath %>';
    </script>
    <%= bodyTags %>
  </body>
</html>